.statistique {
  display: inline-block;
  background-color: #20113cc5;
  color: white;
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 150px;
  border-radius: 8px;
}

.statistique h2 {
  margin: 0;
  font-size: 2rem;
}

.statistique p {
  margin: 5px 0 0 0;
}